@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --font-principal: "Inter";
    --cor-fundo: #FFFFFF;
    --cor-fundo-secundario: #D0D5DD;
    --cor-principal: #8E2424;
    --cor-titulo: #101828;
    --cor-texto: #667085;
}

body{
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 500;
    color: var(--cor-texto);
}

.header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 5rem;
    gap: 2rem;
}

.header__logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.header__logo-text{
    color: #3A404E;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0 3rem 0 0;
}

.header__nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: auto;
    gap: 2rem;
}

.header__nav-link,
.header__buttons-login,
.header__buttons-signup
{
    text-decoration: none;
    color: var(--cor-texto);
}

.header__buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.header__buttons-signup{
    padding: 0.7rem 1.1rem;
    background: var(--cor-principal);
    color: var(--cor-fundo);
    border-radius: 0.5rem;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 10% 20%;
    gap: 1rem;
}

.about__tag{
    font-size: 1rem;
    font-weight: 600;
    color: var(--cor-principal);
}

.about__title{
    font-size: 3rem;
    font-weight: 600 ;
    color: var(--cor-titulo);
}

.about__text{
    font-size: 1.2rem ;
    font-weight: 400;
    color: var(--cor-texto);
}

.stats{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 5% 0;
    gap: 1rem
}

.stats__number{
    font-size: 3rem;
    font-weight: 600;
    color: var(--cor-principal);
}

.stats__title{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--cor-titulo);
    padding: 5% 0;
}

.stats__description{
    width: 250px; /* Define uma largura fixa */
    display: flex;
    font-size: 1rem ;
    font-weight: 400;
    color: var(--cor-texto);
}

.jobs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.jobs__tag{
    background: rgba(142, 36, 36, 0.05);
    color: var(--cor-principal);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.jobs__title{
    color: var(--cor-titulo);
    font-size: 2.5rem;
    font-weight: 600;
}

.jobs__description{
    color: var(--cor-texto);
}

.jobs__image{
    margin: 2% 0;

}

.jobs-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 20%;
    gap: 1rem
}

.jobs-list__item{
    border: 1.5px solid #eeeeee;
    border-radius: 16px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.jobs-list__details{
    display: flex;
    gap: 2rem;
}

.jobs-list__category{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 0 0 2% 0;
}

.jobs-list__title {
    font-size: 1.2rem;
    font-weight: 600;
}

.testimonials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 5% 5% 5%;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 5%;
    gap: 2rem;
}

.testimonials__content,
.testimonials__author{
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.testimonials__tag{
    font-size: 0.9rem;
    color: var(--cor-principal);
}

.testimonials__quote{
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-titulo);
}

.testimonials__avatar {
    height: 45px;
 
}

.footer{
    background: #F9FAFB;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.footer__title {
    font-size: 2.2rem;
    color: var(--cor-titulo);
    font-weight: 600;
}

.footer__form{
    display: flex;
    gap: 1em;
    margin: 2% 0;
}

.footer__input {
    padding: 1em;
    border: 1px solid #e7e7e7;;
    border-radius: 8px;
    text-align: left;
    width: 260px;
}

.footer__button{
    padding: 10px 20px;
    background: var(--cor-principal);
    color: var(--cor-fundo);
    border: none;
    border-radius: 8px;
}

.footer__copyright{
    font-size: 0.8rem;
    font-weight: 400;
    color: #98A2B3;
}